body {
	border: 10px solid black;
	padding: 10px;
}

@-webkit-keyframes animateMeIn
{
	from {
		margin-top: 100%;
	}

	to {
		margin-top: 0%;
	}
}

.animateIn {
	animation-name: animateMeIn;
	animation-duration: 1s;
	-webkit-animation-name: animateMeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
}

.animateInNow {

}

.animateOut {
	-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.animateOutNow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}