<div id="site-container">
	<div class="header-container" id="header-container">
		<header class="header">
			<ul>
				<li>
					<a class="header-link" href="/">Main</a>
				</li>
				<li>
					<a class="header-link" href="/hi">Hi</a>
				</li>
			</ul>
		</header>
	</div>
</div>
<div id="mainRegion"></div>